.my-masonry-grid {
  display: flex;
  width: 100%;
  margin-left: -4px;
}

.my-masonry-grid_column {
  width: calc(51%) !important;
  margin-left: 4px;
}

.my-masonry-grid_column > div {
  margin-bottom: 4px;
} 